

.navigation {
    background-color: antiquewhite;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    font-family: "Poppins";
    font-size: 28px;
    margin: 0 auto;
    padding: 0;
    width: 900px;
}

.info-and-search {
    margin: 0 auto;
    background-color: wheat;
    width: 900px;
    height: 480px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "Poppins";
}


#directions {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 23px;
    font-family: "Poppins";
}

.search {
    display: flex;
    justify-content: center;
    margin: 30;
}

.search-bar {
    border: none;
    background-color: white;
    font-size: 35px;
    width: 500px;
}

.search-button {
    border: none;
    color: white;
    font-size: 25px;
    background-color: rgb(172, 194, 135);
}

.search-button:hover{
    background-color: rgb(210, 227, 179);
}
